jupyter-console==5.2.0
jupyter==1.0.0
jupyter_contrib_nbextensions==0.3.3
jupyter_nbextensions_configurator==0.2.8
autopep8==1.4.3

matplotlib==2.1.0
seaborn==0.8.1
qgrid==1.1.1

django==1.11
gunicorn==19.6.0
django-webpack-loader==0.5.0
django-bulk-update==2.2.0
django-extensions==1.9.6

psycopg2==2.6.2
sqlparse==0.2.4

pyspark==2.4.0
redis==3.2.1
scikit-learn==0.20.3

pyopenssl==19.0.0
psutil==5.6.1
pickle_cache==0.1.0
iterextras==0.1.0

google_images_download==2.5.0
internetarchive==1.8.4
pysrt==1.1.1
